@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* 
font-family: "Space Mono", monospace; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

body {
  background-color: #edf1f1;
  color: #1a234d;
}
a {
  position: relative;
  color: #1a234d;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  animation: hoverFade 0.3s forwards;
}

@keyframes hoverFade {
  from {
    opacity: 0.3s;
  }

  to {
    opacity: 1;
    
  }
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
  font-weight: 900;
}
h1 {
  font-size: 60px;
}
img {
  width: 100%;
}
/* 

NAV 

*/
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 12px;
  background-color: white;
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo__img {
  width: 40px;
  margin-top: 8px;
}
.logo__text {
  font-size: 20px;
  font-weight: 200;
}

/* 

HEADER

*/
header {
  width: 100%;
  margin: 0 auto;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}
.row__course {
  border-left: 1px dashed #cbd5e1;
}
.course {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 40px;
  gap: 20px;
  align-items: center;
  padding: 8px 0;
}
.course__icon {
  font-size: 80px;
}
.ourse__text {
  padding: 20px;
}
.course__selection {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: #727892;
  letter-spacing: 0.1px;
}
.course__title {
  font-weight: 600;
  font-size: 44px;
  margin-left: 32px;
  letter-spacing: 2px;
}
.hero {
  border: 1.5px solid #cbd5e1;
  border-right: 20px solid #badcee;
  border-radius: 0 16px 16px 0;
  padding: 40px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0, 1);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
}
.hero__img--wrapper {
  max-width: 540px;
}
.hero__discription {
  margin-left: 60px;
}
.subheader {
  font-size: 20px;
  margin: 16px 0 24px 0;
  font-weight: 400;
  color: #64748b;
}
button {
  background-color: #c231c2;
  width: 100%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 5.5px;
  font-family: "Space Mono", monospace;
}

button {
  color: rgb(248, 245, 245);
  margin-bottom: 20px;
}

/* 
ABOUT
SOCIAL
 */

#about,#contact,
#social,#footer {
  padding: 24px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__card {
  border: 1.5px dashed #cbd5e1;
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 20px solid #badcee;
}
.section__card--about {
  border-radius: 0 16px 16px 0;
  background-color: #ffeaaf;
}
.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__row {
  justify-content: start;
}
.section__title {
  margin-bottom: 16px;
  font-family: "Space Mono", monospace;
  letter-spacing: 18px;
}
.section__img--wrapper {
  width: 60%;
  padding: 0 24px;
}

.section__description--para {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
  padding-left: 10px;
}
.section__card--social {
  background-color: #badcee;
  border-right: 20px solid #ef4810;
}

/*
CONTACT
 */

.section__card--contact {
  border: 1.5px dashed #c231c2;
  width: 100%;
  border-radius: 16px;
}

form {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 12px;
  gap: 16px;
}

input,
textarea {
  display: fl;
  margin-bottom: 24px;
  font-size: 24px;
  padding: 6px 12px;
  width: 100%;
}
.section__title{
  display: flex;
  justify-content: center;
 
}
span{
  font-size: 30px;
  font-weight: bold;
}
/* 
footer
*/

footer{
  background-color:#badcee ;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1.5px dashed #badcee;
  padding: 12px 20px;
  border-radius:  20% 20% 0 0;
}
footer__logo{
  margin-bottom: 16px;
}

.footer__link {
  margin-bottom: 20px;

}

.footer__links a ,.nav__links a{
  border-left: 2px solid #ef4810;
  padding: 0 15px 0;
 text-decoration: none;

}
/* 

RESPONESIVENESS

*/

/* 

SMALLER SCREEN 

*/

@media (max-width: 1024px) {
  .section__description--para {
    font-size: 20px;
    
  }
}

  
@media(max-width: 768px){

a {
  font-size: 16px;
}
.course{
  gap: 4px;
}
.course__title{
  margin-left: 10PX;
  font-size: 40px;

}
.row img{
  border-radius: 10px;
}
button{
  font-size: 16px;
  box-shadow: 0 10px 25px #1a234d;
}
.hero{
  flex-direction: column;
}
h1{
  font-size: 30px;
}
.section__img--wrapper{
  max-width: 50%;
}
.section__description{
  flex-direction: column ;
}
}